.list-item.row.row-space-between.m-bottom-2
  .column
    rateit(ng-model="ranking" read-only="true")
    p.text-base.grey.text-3.grey-3.justify
      | {{review}}
  button(ng-click='deleteComment(id, $event)' ng-if="$parent.client.role == 'ROLE_ADMIN'")
    img(src="images/remove.svg")
