div.list-item.row.row-space-between(ng-click='goto({toType: "course", toId: id, fromName: from})')
  span
    | {{ code }} {{ name }}
  .row
    button.m-right-2(ng-hide='true' ng-if="$parent.client.role == 'ROLE_ADMIN'")
      img(src="images/edit.svg")
    button(ng-click='deleteCourse(id, $event)' ng-if="$parent.client.role == 'ROLE_ADMIN'")
      img(src="images/remove.svg")
