.modal-overlay
  .modal-content
    // TODO translate this
    .title
      | Welcome to errors modal
      button.close(ng-click='closeModal()')
        | &times;
    .error(ng-repeat='error in errors track by $index')
      span(ng-if='error.field')
        | {{ 'ERROR_IN_FIELD' | translate }} {{error.field}}
      span
        | {{ identifyError(error) | translate }}
