.modal-overlay
  .modal-content
    | Welcome to errors modal
    button.close(ng-click='closeModal()')
      | &times;
//    p.title-2.text-base.black
      | {{ code }}
    p.m-bottom-3.text-base.grey-3.text-2
      | {{ information }}
