.modal-overlay
  .modal-content(ng-show='errors.length == 0')
    .title-3
      | {{ 'WELCOME' | translate }}
      button.close(ng-click='closeModal()')
        | &times;
  .modal-content(ng-show='errors.length > 0')
    .title
      | {{ 'SOME_ERRORS' | translate }}
      button.close(ng-click='closeModal()')
        | &times;
    .error(ng-repeat='error in errors track by $index')
      span(ng-if='error.field')
        | {{ 'ERROR_IN_FIELD' | translate }} {{ error.field | uppercase | translate }}
      span
        | {{ identifyError(error) | translate }}
