p.title-2.text-base.black.m-bottom-1
  | {{ 'UPLOAD_FILE' | translate }}
label.text-5.text-base.grey-2.m-bottom-1
  | {{ 'TITLE' | translate }}
input.input-base.m-bottom-2(name='title')
label.text-5.text-base.grey-2.m-bottom-1
  | {{ 'DESCRIPTION' | translate }}
textarea.input-base.m-bottom-5(name='description')

.row.row-center
  button.button-grey
    | {{ 'CANCEL' | translate }}
  button.button-blue
    | {{ 'UPLOAD_FILE' | translate }}
