//- This is the university element
div.list-item.row.row-space-between(ng-click='goto({toType: "university", toId: id, fromName: "Universities"})')
  span
    | {{ name }}
  .row
    button.m-right-2(ng-href='#/universities/edit/{{id}}')
      img(src="images/edit.svg")
    button(ng-click='deleteUniversity(id, $event)' ng-if="$parent.client.role == 'ROLE_ADMIN'")
      img(src="images/remove.svg")
