//- This is the university element
div.list-item.row.row-space-between(ng-click='goto({toType: "university", toId: id, fromName: "Universities"})')
  span
    | {{ name }}
  .row
    button.m-right-2
      img(src="images/edit.svg")
    button(ng-click='deleteUniversity(id, $event)')
      img(src="images/remove.svg")
