.column.column-center(ng-controller='CourseController as courseCtrl' ng-hide='showSpinner')
  back(data='indexCtrl.getBack()' goto='indexCtrl.goto(toType, toId, fromName)')
  .section-header.wrapper-line-title
    h1.title-3.text-base.blue
      | {{courseCtrl.course.name}} - {{courseCtrl.course.code}}
  .row.m-bottom-3.section-search(ng-if='courseCtrl.documents.length')
    searchbox(filter='searchText' placeholder="'SEARCH_FILE'")
  .column.no-files(ng-if='courseCtrl.documents.length == 0')
    p.m-bottom-2
      | {{ 'NO_FILES' | translate }}
    a.primary-button(
      type='button'
      ng-href='#/upload/{{courseCtrl.course.courseid}}'
      ng-click='indexCtrl.goto("course", courseCtrl.course.courseid, "Course")' ng-if='client')
      | {{ 'UPLOAD' | translate }}
    a.primary-button(type='button' ng-href='#/login' ng-if='!client')
      | {{ 'UPLOAD' | translate }}

  .list-wrapper.list-wide(ng-repeat='document in courseCtrl.documents | filter:searchText')
    document(name='document.documentName' id='document.documentId' goto='indexCtrl.goto(toType, toId, fromName)' from='courseCtrl.course.name')
