.column(ng-controller='DocumentController as documentCtrl' ng-hide='showSpinner')
	.row.row-space-between.row-top.m-bottom-1
		.column.column-center.big-book
			img(src='images/default_book.svg')
		.column.flex-grow-1.m-left-1
			p.title-2.text-base.black
				| {{documentCtrl.document.documentName}}
			p.title-2.text-base.bold
				| {{documentCtrl.document.subject}}
			p.m-bottom-3.text-base.grey-3.text-2
				| {{documentCtrl.document.dateUploaded}}
			p.m-bottom-3.text-base.grey-3.text-2
				| {{documentCtrl.document.course}}
			p.text-base.grey.text-3.grey-3.justify.m-bottom-3
				| {{documentCtrl.document.description}}
			.row(ng-if='documentCtrl.document')
				a.button-green.m-right-3(target='_self' ng-href='{{documentCtrl.downloadPath}}' download='prueba.pdf')
					| {{ 'DOWNLOAD' | translate }}
				button.button-blue
					| {{ 'PREVIEW' | translate }}
	.separator
	.column(ng-if='documentCtrl.document !== undefined')
		h1.title-3.text-base.green.m-bottom-3
			| {{ 'COMMENTS' | translate }}
		.new-comment-wrapper.column.column-left.m-bottom-3(ng-if='!documentCtrl.checkOwnDocument() && !documentCtrl.alreadyUploaded')
			p.title-2.text-base.black.m-bottom-1
				| {{ 'ADD_COMMENT' | translate }}
			textarea.input-base.m-bottom-1(name='comment' ng-model='documentCtrl.reviewText')
			input.input-base.m-bottom-1(name='ranking' type='number' ng-min='1' ng-max='5' ng-model='documentCtrl.reviewRanking')
			input.button-green(type='button' value='Enviar comentario' ng-click='documentCtrl.postComment()' ng-disabled='documentCtrl.reviewRanking === null || documentCtrl.reviewText === null')
		.new-comment-wrapper.column.column-left.m-bottom-3(ng-if='documentCtrl.checkOwnDocument()')
			p.title-2.text-base.black.m-bottom-1
				| {{ 'OWN_FILE_REVIEW_ERROR' | translate }}
		.new-comment-wrapper.column.column-left.m-bottom-3(ng-if='documentCtrl.alreadyUploaded')
			p.title-2.text-base.black.m-bottom-1
				| {{ 'ALREADY_REVIEWED_ERROR' | translate }}
		.list-comment-wrapper.column(ng-repeat='comment in documentCtrl.comments')
			.list-comment-item.column.m-bottom-5
				.row.row-space-between.m-bottom-1
					p.title-2.text-base.black
						| {{comment.userid}}
					span
						| {{comment.ranking}}
				p.m-bottom-3.text-base.grey-3.text-2
					| {{comment.dateUploaded}}
				p.text-base.grey.text-3.grey-3.justify
					| {{comment.review}}
