div(ng-controller='ProfileController as profileCtrl' ng-hide='showSpinner')
  .column
    .column
      h1.title-3.text-base.blue.m-bottom-1
        | {{profileCtrl.client.name}}
      p.text-base.grey.text-2.m-bottom-1
        | {{profileCtrl.client.email}}
      a.normal-link.m-bottom-3(type='button' ng-href='#/change-password')
        | {{ 'CHANGE_PASSWORD' | translate }}
      .row.m-bottom-3
        .item
          span.m-right-1.bold.text-base
            | {{profileCtrl.files.length | number }}
          span
            | {{ 'FILES' | translate }}
        .bar
        .item
          span.m-right-1.bold.text-base
            | {{ profileCtrl.reviews.length | number }}
          span
            | {{ 'COMMENTS' | translate }}
      .row.row-space-between
        a.button-blue.m-right-3(ng-if="profileCtrl.client.role == 'ROLE_ADMIN'" type='button' ng-href='#/change-password')
          | {{ 'ADD_UNIVERSITY' | translate }}
        a.button-blue.m-right-3(ng-if="profileCtrl.client.role == 'ROLE_ADMIN'" type='button' ng-href='#/change-password')
          | {{ 'ADD_PROGRAM' | translate }}
        a.button-blue.m-right-3(ng-if="profileCtrl.client.role == 'ROLE_ADMIN'" type='button' ng-href='#/change-password')
          | {{ 'ADD_COURSE' | translate }}
        a.button-blue.m-right-3(ng-if="profileCtrl.client.role == 'ROLE_ADMIN'" type='button' ng-href='#/users/edit')
          | {{ 'CHANGE_USER_ROLE' | translate }}
  .separator
  .column(ng-if='profileCtrl.files.length')
    h1.title-3.text-base.blue.m-bottom-3
      | {{ 'MY_FILES' | translate }}
    .list-wrapper.row.row-space-between
      document(ng-repeat='file in profileCtrl.files' name='file.documentName' author='file.userid' id='file.documentId' goto='indexCtrl.goto(toType, toId, fromName)' from='"profile"')
  .separator(ng-if='profileCtrl.files.reviews')
  .column(ng-if='profileCtrl.files.reviews')
    h1.title-3.text-base.blue.m-bottom-3
      | {{ 'COMMENTS' | translate }}
    .list-wrapper.column(nh-repeat='review in profileCtrl.reviews')
      comment(user='review.author' date='review.date' comment='review.comment' document='review.document')
