div(ng-controller="ProgramController as pgrmCtrl" ng-hide='showSpinner')
  //- Should display all courses
  .column.column-center
    back(data='indexCtrl.getBack()' goto='indexCtrl.goto(toType, toId, fromName)')
    .row.section-header
      .wrapper-line-title
        h1.title-3.text-base.blue.m-bottom-1
          | {{pgrmCtrl.program.name}}
    .row.m-bottom-3
      span.m-right-1.bold.text-base.grey-2
        | {{ pgrmCtrl.courses.length }}
      span.text-base.grey-2
        | {{ 'COURSES' | translate }}
    .row.m-bottom-3.section-search
      searchbox(filter='searchText' placeholder="'SEARCH_COURSE'")
    .list-wrapper.column.column-center.list-wide(ng-repeat='course in pgrmCtrl.courses | filter:searchText')
      course(name='course.name' code='course.code' id='course.courseid' goto='indexCtrl.goto(toType, toId, fromName)' from='pgrmCtrl.program.name')
