.column.column-center(ng-controller = "UsersController as usrCtrl")
  .section-header
    .item
      h1.title-3.text-base.blue.m-bottom-3
        | {{ 'USERS' | translate }}
  .row.m-bottom-3.section-search
    searchbox(filter='searchText' placeholder="'SEARCH_USER'")
  .list-wrapper.list-wide(ng-repeat='usr in usrCtrl.users | filter:searchText')
    user(user='usr' changerole='usrCtrl.changeRole(usr)' )
