doctype html
html.no-js
	head
		meta(charset='utf-8')
		title Apuntes Paw!
		meta(name='description', content='')
		// build:css(.tmp) styles/main.css
		link(rel='stylesheet', href='styles/application.css')
		// endbuild
	body(ng-controller='IndexCtrl as indexCtrl')
		.column.column-center
			nav.header.row.row-center
				.max-content-wrapper.row.row-space-between
					img.logo(src='images/logo.svg')
					.actions
						button(ng-click='IndexCtrl.openLogin()')
							img(src='images/add_book.svg')
			.max-content-wrapper.mid.content(ng-view='')
		// build:js(.) scripts/oldieshim.js
		//if lt IE 9
			script(src='bower_components/es5-shim/es5-shim.js')
			script(src='bower_components/json3/lib/json3.js')
		// endbuild
		script(src='/scripts/paths.js')
		script(src='bower_components/requirejs/require.js', data-main='/scripts/build.js')
