.modal-overlay
  .modal-content
    .title
      | Welcome to errors modal
      button.close(ng-click='closeModal()')
        | &times;
    .error(ng-repeat='error in errors')
      span(ng-if='error.field')
        | Error in field: {{error.field}}
      span
        | {{error.message}}
      span(ng-init='codeIdent: "E_{{error.code}}"')
        | {{codeIdent}}
