p.title-2.text-base.black.m-bottom-1
  | Iniciar Sesión
label.text-5.text-base.grey-2.m-bottom-1
  | Usuario
input.input-base.m-bottom-2(name='user')
label.text-5.text-base.grey-2.m-bottom-1
  | Clave
input.input-base.m-bottom-5(name='password' type='password')
.row.row-center
  button.button-grey
    | Cancelar
  button.button-blue
    | Iniciar sesión
