p.title-2.text-base.black.m-bottom-1
  | Subir apunte
label.text-5.text-base.grey-2.m-bottom-1
  | Titulo
input.input-base.m-bottom-2(name='title')
label.text-5.text-base.grey-2.m-bottom-1
  | Descripcion
textarea.input-base.m-bottom-5(name='description')
.row.row-center
  button.button-grey
    | Cancelar
  button.button-blue
    | Subir apunte
