.back(ng-click="appCtrl.goTo('^.document', courseCtrl.backReference)")
  | < Volver
.column.column-center(ng-controller='CourseController as courseCtrl')
  .row
    .item
      h1.title-3.text-base.green.m-bottom-3
        | {{courseCtrl.course.name}}
    .bar
    .item
      h1.title-3.text-base.m-bottom-1
        | {{courseCtrl.course.code}}
  searchbox(filter='searchText' placeholder="'SEARCH_FILE'")
  span(ng-switch='courseCtrl.documents.length')
    .row(ng-switch-when='0')
      span
        | {{ 'NO_FILES' | translate }}
      button
        | {{ 'UPLOAD' | translate }}
    .list-wrapper.list-wide(ng-switch-default ng-repeat='document in courseCtrl.documents | filter:searchText')
      document(name='document.name' author='document.author' id='document.documentid')
