//- This is the home view
.column.column-center(ng-controller = "HomeController as homeCtrl")
  h1.title-3.text-base.green.m-bottom-3

    | Universidades
  searchbox(filter='searchText' placeholder='"Buscar Universidad"')
    
  .list-wrapper.row.row-space-between(ng-repeat='uni in homeCtrl.universities | filter:searchText')
    university(name='uni.name' id='uni.universityId')
