.column.column-center(ng-controller='LoginController as loginCtrl')
  h1.title-3.text-base.green.m-bottom-3
    | INICIAR SESIÓN
  form(
    name='LoginController.loginForm'
    novalidate
    ng-submit='LoginController.login()'
  )
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | Usuario
      input.input-base.m-bottom-2(name='user' ng-model='loginCtrl.username')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | Clave
      input.input-base.m-bottom-5(name='password' type='password' ng-model='loginCtrl.password')
  .row.row-center
    button.button-grey.m-right-3
      | Cancelar
    button.button-blue(ng-click='loginCtrl.loginData()')
      | Iniciar sesión
