div(ng-controller='ProfileController as profileCtrl')
  .column.column-center
    .column.column-left
      h1.title-3.text-base.green.m-bottom-1
        | Marie Fields
      p.text-base.grey.text-2.m-bottom-2
        | lorem.ipsum@wolox.com.ar
      .row
        .item
          span.m-right-1.bold.text-base
            | {{ profileCtrl.files.length }}
          span
            | {{ 'FILES' | translate }}
        .bar
        .item
          span.m-right-1.bold.text-base
            | {{ profileCtrl.reviews.length }}
          span
            | {{ 'COMMENTS' | translate }}
  .separator
  //- FIXME check this when login is available  
  .column
    h1.title-3.text-base.green.m-bottom-3
      | {{ 'FILES' | translate }}
    .list-wrapper.row.row-space-between(ng-repeat='file in profileCtrl.files')
      document(name='file.title' author='file.author')
  .separator
  .column
    h1.title-3.text-base.green.m-bottom-3
      | {{ 'COMMENTS' | translate }}
    .list-wrapper.column(nh-repeat='review in profileCtrl.reviews')
      comment(user='review.authos' date='review.date' comment='review.comment' document='review.document')
