div(ng-controller="ProgramController as pgrmCtrl")
  .back(ng-click="appCtrl.goTo('^.university', pgrmCtrl.backReference)")
    | < {{ 'BACK' | translate }}
  //- Should display all courses
  .column.column-center
    .row.course-header
      .item
        h1.title-3.text-base.green.m-bottom-1
          | {{pgrmCtrl.program.name}}
    .row.m-bottom-3
      span.m-right-1.bold.text-base
        | {{ pgrmCtrl.courses.length }}
      span
        | {{ 'COURSES' | translate }}
    searchbox(filter='searchText' placeholder="'SEARCH_COURSE'")
    .list-wrapper.column.column-center.list-wide
      course(name='course.name' code='course.code' id='course.courseid' ng-repeat='course in pgrmCtrl.courses | filter:searchText')
