.column.column-center
  h1.title-3.text-base.green.m-bottom-3
    | Registrarse
  form(
    name='RegisterController.registerForm'
    novalidate
    ng-submit='RegisterController.register()'
  )
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | Usuario
      input.input-base.m-bottom-2(name='user')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | E-mail
      input.input-base.m-bottom-2(name='email' type='email')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | Clave
      input.input-base.m-bottom-5(name='password' type='password')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | Repita su clave
      input.input-base.m-bottom-5(name='repeat-password' type='password')
  .row.row-center
    button.button-grey.m-right-3
      | Cancelar
    button.button-blue(type='submit')
      | Registrarse
