.column.column-center(ng-controller='RegisterController as registerCtrl' ng-hide='showSpinner')
  h1.title-3.text-base.green.m-bottom-3
    | {{ 'REGISTER_ME' | translate | uppercase }}
  form(
    name='RegisterController.registerForm'
    novalidate
    ng-submit='RegisterController.register()'
  )
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'NAME' | translate }}
      input.input-base.m-bottom-2(name='user' ng-model='registerCtrl.userName')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'LAST_NAME' | translate }}
      input.input-base.m-bottom-2(name='user' ng-model='registerCtrl.userLastname')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'USER' | translate }}
      input.input-base.m-bottom-2(name='user' ng-model='registerCtrl.username')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'MAIL' | translate }}
      input.input-base.m-bottom-2(name='email' type='email' ng-model='registerCtrl.mail')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'PASSWORD' | translate }}
      input.input-base.m-bottom-5(name='password' type='password' ng-model='registerCtrl.password')
    .column.column-left
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'RE_PASSWORD' | translate }}
      input.input-base.m-bottom-5(name='repeat-password' type='password')
  .row.row-center
    button.button-grey.m-right-3()
      | {{ 'CANCEL' | translate }}
    button.button-blue(ng-click='registerCtrl.register()')
      | {{ 'REGISTER_ME' | translate }}
