.back(ng-click="appCtrl.goTo('^.home', null)")
  | < Back
.column.column-center
  h1.title-3.text-base.green.m-bottom-3
    | {{ 'PROGRAMS' | translate }}
  input(ng-model='searchText' placeholder='{{ "SEARCH" | translate }}')
  .list-wrapper.row.row-space-between(ng-repeat='program in uniCtrl.programs | filter:searchText')
    course(name='program.name' code='program.id' ng-click="appCtrl.goTo('^.program', program.urlParam)")
