.back(ng-click="appCtrl.goTo('^.home', null)")
  | < Volver
.column.column-center
  h1.title-3.text-base.green.m-bottom-3
    | Universidad 1
  .row
    input.input-base(ng-model='searchText' placeholder='Buscar')
    input.input-submit.search(type='submit' value='')
  .list-wrapper.row.row-space-between(ng-repeat='program in uniCtrl.programs | filter:searchText')
    course(name='program.name' code='program.id' ng-click="appCtrl.goTo('^.program', program.urlParam)")
