div(ng-controller='UniversityController as uniCtrl')
  back(data='indexCtrl.getBack()' goto='indexCtrl.goto(toType, toId, fromName)')
  .column.column-center
    h1.title-3.text-base.green.m-bottom-3
      | {{uniCtrl.university.name}}
    searchbox(filter='searchText' placeholder="'SEARCH_PROGRAM'")
    .list-wrapper.column.column-center.list-wide(ng-repeat='program in uniCtrl.programs | filter:searchText')
      program(name='program.name' id='program.programid' goto='indexCtrl.goto(toType, toId, fromName)' from='uniCtrl.university.name')
