@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import 'variables/colors';

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  position: relative;
}

.logo {
  height: 30px;
}

.action {
  height: 25px;

  img {
    max-height: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.searchbox-wrapper {
  width: 100%;

  .input-base {
    width: 100%;
  }
}

.list-item {
  font-size: 13px;
  border-left: 6px solid $blue;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background: #F7F7F7;
  height: 38px;
  line-height: 38px;
}

.max-content-wrapper {
  max-width: 1280px;
  padding: 0 45px;
  width: 100%;

  &.mid {
    max-width: 800px;
  }
}

.content {
  margin-top: 50px;
}

.bar {
  border: 1px solid $green;
  height: 28px;
  margin: 0 15px;
}

.separator {
  border-top: 1px solid $blue;
  height: 1px;
  margin: 35px 0;
  width: 100%;
}

// text

.bg-green {
  background-color: $green;
}

.bg-blue {
  background-color: $blue;
}

.text-base {
  &.grey-2 {
    color: $grey-2;
  }

  &.grey-3 {
    color: $grey-3;
  }

  &.green {
    color: $green;
  }

  &.blue {
    color: $blue;
  }

  &.white {
    color: $white;
  }

  &.bold {
    font-weight: 700;
  }

  &.justify {
    text-align: justify;
  }

  &.underline {
    text-decoration: underline;
  }
}

.title-1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 50px;
}

.title-2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.title-3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.text-1 {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.text-2 {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

.text-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.text-4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.text-5 {
  font-size:12px;
  line-height:19px;
}

.width-100 {
  width: 100px;
}

.text-center {
  text-align: center;
}

// Layout

.column {
  display: flex;
  flex-direction: column;
}

.column-center {
  align-items: center;
}

.column-left {
  align-items: flex-start;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.row-center {
  justify-content: center;
}

.row-top {
  align-items: flex-start;
}

.row-left {
  justify-content: flex-start;
}

.row-right {
  justify-content: flex-end;
}

.row-space-between {
  justify-content: space-between;
}

.item-center {
  align-self: center;
  text-align: center;
}

.item-left {
  align-self: flex-start;
  text-align: left;
}

.item-right {
  align-self: flex-end;
  text-align: right;
}

.flex-grow-1 {
  flex-grow: 1;
}

@for $i from 1 through 3 {
  .item-#{$i} {
    flex: $i;
    min-width: 0;
  }
}

// Header

.header {
  background-color: $white;
  box-shadow: 0px 6px 5px -1px $grey;
  height: 50px;
  width: 100%;

  .nav-actions .action {
    margin: 0 20px;
  }
}

.back {
  position: absolute;
  left: 60px;
  top: 90px;
  font-size: 12px;
  color: $grey-2;
}

.input-base {
  background: $grey-4;
  width: 238px;
  height: 38px;
  padding: 5px 10px;
}

.list-wide {
  width: 100%;
}

.input-submit {
  background: $green;
  width: 38px;
  height: 38px;

  &.search {
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.button-green {
  height: 38px;
  background-color: $green;
  min-width: 120px;
  color: $white;
  padding: 0 10px;
}

.button-grey {
  height: 38px;
  background-color: $grey-4;
  min-width: 120px;
  color: $grey-2;
  padding: 0 10px;
}


.button-blue {
  height: 38px;
  background-color: $blue;
  min-width: 120px;
  color: $white;
  padding: 0 10px;
}

// Paddings

.padding-5 {
  padding: 5px;
}

// Margins

.m-bottom-1 {
  margin-bottom: 10px;
}

.m-bottom-2 {
  margin-bottom: 20px;
}

.m-bottom-3 {
  margin-bottom: 30px;
}

.m-bottom-5 {
  margin-bottom: 50px;
}

.m-right-1 {
  margin-right: 10px;
}

.m-right-3 {
  margin-right: 30px;
}

.m-left-1 {
  margin-left: 10px;
}

.margin-10 {
  margin: 10px;
}

// Borders

.border-grey-1 {
  border: solid 1px $grey;
}

.border-grey-2 {
  border: solid 2px $grey;
}

@mixin responsive-col {
  align-items: stretch;
  flex-direction: column;

  &.col-left {
    align-items: flex-start;
  }

  &.col-center {
    align-items: center;
  }

  &.col-right {
    align-items: flex-end;
  }
}

// lg

@media screen and (min-width: 1280px) {
  .show-sm {
    display: none;
  }
}

// md

@media screen and (max-width: 1279px) {
  .show-sm {
    display: none;
  }
}

// sm

@media screen and (max-width: 1023px) {
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: flex;
  }

  .col-sm {
    @include responsive-col;
  }
}
