@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #F6F6F6;
  height: 100%;
}

body {
  color: #F87D09;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perpective-bold {
  font-weight: 700;
}

.perspective {
  margin: 0;
  padding-left: 0;
  padding-right: 100px;
  height: 500px;
  font-size: 68px;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

.perspective-line {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  position: relative;
}

.perspective-line:nth-child(odd) {
  -webkit-transform: skew(60deg, -30deg) scaleY(0.66667);
  transform: skew(60deg, -30deg) scaleY(0.66667);
}

.perspective-line:nth-child(even) {
  -webkit-transform: skew(0deg, -30deg) scaleY(1.33333);
  transform: skew(0deg, -30deg) scaleY(1.33333);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
}

.perspective-line:nth-child(3) {
  left: 87px;
}

.perspective-line:nth-child(4) {
  left: 116px;
}

.perspective-line:nth-child(5) {
  left: 145px;
}

.perspective-line:nth-child(6) {
  left: 174px;
}

p {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
  margin: 0;
}

.perspective:hover p {
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}