@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

h1 {
  margin: 0;
  text-transform: uppercase;
}

h2 {
  margin: 0;
}

input:focus,
select:focus {
  outline: none;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
  padding: 10px 0;
}

h4 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
}

.has-error .form-control {
  border: 1px solid #F35B25;
}

.filter-input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  text-align: center;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #F35B25;
  width: 100%;
  text-align: left;
}

/* Margins */
.m-bottom-1 {
  margin-bottom: 10px;
}

.m-bottom-3 {
  margin-bottom: 30px;
}

.m-bottom-5 {
  margin-bottom: 50px;
}

a,
a:hover {
  text-decoration: none;
}

.row {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.row::before,
.row::after {
  content: none;
}

.row-space-between {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.left {
  align-items: flex-start;
}

.column.center {
  align-items: center;
}

.input-base-wrapper {
  width: 100%;
}

.input-base {
  border-radius: 5px;
  border: 1px solid #E8E2E2;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: transparent;
  border: 0;
}

.back-button img {
  height: 25px;
}

.light-text {
  font-weight: 300;
}

/****** Landing ******/
.main-section {
  background-image: url('../assets/background.jpg');
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
  position: relative;
}

.main-section h1 {
  font-size: 50px;
  z-index: 1;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-section h2 {
  font-size: 35px;
  z-index: 1;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}

.separator {
  height: 2px;
  width: 240px;
  z-index: 1;
  background-color: #E8E2E2;
}

.separator.orange {
  background-color: #F35B25;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}

.programs-wrapper {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 700px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.program-item {
  font-size: 20px;
  margin: 10px;
  background-color: #F35B25;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #F35B25;
  color: #FFF;
  font-weight: 300;
}

.program-item:hover {
  color: #F35B25;
  text-decoration: none;
  background-color: #FFF;
}

.section-program {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****** Navbar ******/
.navbar {
  border: none;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  height: 50px;
  z-index: 2;
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.navbar-header {
  width: 100%;
  max-width: 1140px;
  padding: 0 40px;
  align-items: center;
}

/****** Programs ******/
.list-wrapper {
  max-width: 800px;
  list-style-type: none;
  margin-top: 50px;
  padding-left: 0;
}

.border {
  border: 0;
  height: 50px;
  font-size: 12px;
  display: block;
  width: 10px;
  background-color: #E8E2E2;
}

.list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 12px;
  height: 50px;
  margin-bottom: 10px;
  text-align: left;
}

.list-item:hover {
  background-color: #FFF;
}

.list-item:hover .border {
  background-color: #2A3356;
}

.link {
  color: #F35B25;
  font-weight: 300;
}

.list-item:hover a {
  color: #2A3356;
  border: 2px solid #2A3356;
  border-radius: 0;
}

.list-item a {
  border: 0;
  width: calc(100% - 10px);
  border-radius: 0;
  font-weight: 600;
  border: 2px solid #E8E2E2;
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.list-group-item {
  border-radius: 0;
  height: 50px;
  padding-left: 10px;
  line-height: 46px;
  color: #F35B25;
}

.course-size {
  margin-top: 10px;
}

.content-wrapper {
  padding: 0 40px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: #FAFAFA;
}

.white-container {
  width: 600px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 50px 0 #D7D7D7;
  margin-bottom: 50px;
  position: relative;
}

.white-container-content {
  padding: 20px;
  text-align: center;
}

.program-title {
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 10px;
  background-color: #F35B25;
  color: #FFF;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a.list-group-item:hover {
  background-color: #FFF;
}

/****** file *******/
.file-container h4,
.reviews-wrapper {
  text-align: left;
}

.file-container h4 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.file-container label {
  margin-right: 20px;
}

.file-container .row {
  margin-bottom: 30px;
}

.file-container textarea {
  width: 100%;
  padding: 5px 10px;
}

.download-button {
  background-color: #F35B25;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  color: #FFF;
  min-width: 100px;
  margin-top: 40px;
  display: block;
  max-width: 150px;
  margin: 40px auto;
}

.download-button:hover {
  color: #FFF;
}

.document-info {
  text-align: center;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.subtitle {
  font-size: 16px;
}

.reviews-wrapper {
  padding: 0;
}

.review-item {
  font-size: 14px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
}

.review-item p {
  margin: 0;
}

.submit-button {
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #2A3356;
  color: #2A3356;
  background-color: #FFF;
  min-width: 100px;
  height: 30px;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-form .submit-button {
  align-self: flex-end;
}

.avatar {
  width: 50px;
  margin-right: 15px;
}

.error {
  color: #F35B25;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

.ranking-input {
  width: 60px;
  background: none;
  box-shadow: none;
  transition: none;
  text-align: center;
}

label {
  font-weight: 400;
}

.review-info-wrapper {
  width: calc(100% - 65px);
}

.review-time {
  position: absolute;
  right: 10px;
}

textarea {
  resize: none;
}

textarea.form-control.review-input {
  resize: none;
  height: 100px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #E8E2E2;
  height: 30px;
  border-radius: 5px;
}

.ranking {
  font-weight: 600;
  color: #F35B25;
  font-size: 14px;
}

/****** Upload Document ******/
.upload-document-form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

/*** Arrow para scrolling***/
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.margin-top {
  margin-top: 20px;
}

.upload-document-form .row {
  width: 100%;
}

.upload-document-form textarea {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #F35B25;
  padding: 5px 10px;
}

.upload-document-form .form-group {
  margin-bottom: 30px;
}

.upload-document-form .input-document {
  height: 50px;
  padding: 5px 10px;
  border: none;
}

.item-center {
  align-self: center;
}

/*Scroll Indicator*/
.scroll-indicator {
  position: relative;
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
  border-color: white;
  border-style: solid;
  -webkit-animation: bounce 2s 0s ease infinite;
  animation: bounce 2s 0s ease infinite;
}

@-webkit-keyframes bounce {
  0% {
    top: -0.8em;
  }

  25% {
    top: 0em;
  }

  100% {
    top: -0.8em;
  }

}

@keyframes bounce {
  0% {
    top: -0.8em;
  }

  25% {
    top: 0em;
  }

  100% {
    top: -0.8em;
  }

}