.row-space-between {
  justify-content: space-between;
}

.row {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row-center {
  align-items: center;
}

.row::before,
.row::after {
  content: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.left {
  align-items: flex-start;
}

.column.center {
  align-items: center;
}

.input-base-wrapper {
  width: 100%;
}

.input-base {
  border-radius: 5px;
  border: 1px solid #E8E2E2;
}

.m-bottom-1 {
  margin-bottom: 10px;
}

.m-bottom-2 {
  margin-bottom: 20px;
}

.m-bottom-3 {
  margin-bottom: 30px;
}

.m-bottom-5 {
  margin-bottom: 50px;
}

.m-right-1 {
  margin-right: 10px;
}