/* DROPDOWN */

.dropdown-custom {
  border: none;
  padding: 0;
  background: #FFF;
}

.dropdown-custom:focus,
.dropdown-custom:hover {
  background-color: #FFF;
  border: none;
}

.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  background-color: #FFF;
  box-shadow: none;
}

.show-on-hover:hover > ul.dropdown-menu {
  display: block;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu>li>a {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
}

.dropdown-menu>li>a:hover {
  background-color: #F6B69A;
  color: white;
}

/* Navbar */

.navbar-brand {
  padding-left: 0
}

.navbar {
  top: 0;
  margin: 0;
  padding: 0 20px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #FFF;
  border-radius: 0;
  text-align: center;
  z-index: 5;
}

.navbar-right {
  float: right;
}

.navbar-nav>li>a {
  line-height: 50px;
}

.navbar-toggle {
  margin-right: 0;
  padding-right: 0;
}

.navbar-nav>li>a {
  padding: 0;
}

.navbar-toggle .icon-bar {
  background-color: #4A4A4A;
}

.nav>li>a:hover {
  background-color: transparent;

}

/* Chosen */

.select2-container{
  width: 100% !important;
  min-width: 350px;
  margin-top: 10px;
}

/* Bootstrap */

.form-control {
  border-color: #4A4A4A;
}

form {
  margin: 0;
}
