/* Navbar */

.navbar-brand {
  padding-left: 0
}

.navbar {
  top: 0;
  margin: 0;
  padding: 0 20px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #FFF;
  border-radius: 0;
  text-align: center;
  z-index: 5;
}

.navbar-right {
  float: right;
}

.navbar-nav>li>a {
  line-height: 50px;
}

.navbar-toggle {
  margin-right: 0;
  padding-right: 0;
}

.navbar-nav li a {
  padding: 0;
  line-height: 30px;
  color: #4a4a4a;
}

.navbar-toggle .icon-bar {
  background-color: #4A4A4A;
}

.nav>li>a:hover,
.nav .open>a:hover,
.nav .open>a:focus,
.nav>li>a:focus {
  background-color: transparent;

}

/* Chosen */

.select2-container{
  width: 100% !important;
  min-width: 325px;
  margin-top: 10px;
}

/* Bootstrap */

.form-control {
  border-color: #4A4A4A;
}

form {
  margin: 0;
}

.btn-default:active,
.btn-default:focus,
.btn-default:visited {
  background-color: transparent;
}
