doctype html
html.no-js
head
    meta(charset='utf-8')
    title
        | {{ 'APP_TITLE' | translate }}
    meta(name='description', content='')
    // build:css(.tmp) styles/application.css
    link(rel='stylesheet' href='styles/application.css')
    // endbuild
body(ng-controller='IndexCtrl as indexCtrl')
    .mod.model-2(ng-show='showSpinner')
        .spinner
    .mod.model-2(ng-show='showErrorModal')
        errormodal(errors='errors')
    .column.column-center.test
        nav.header.row.row-center
            .max-content-wrapper.row.row-space-between
                a(ng-href='#/')
                    img.logo(src='images/logo.svg')
                .actions
                    a.m-right-1.action(type='button' ng-href='#/upload')
                        img(src='images/add_book.svg')
                    a(type='button' ng-href='#/login' ng-if='!client')
                        img(src='images/login.svg')
                    a.m-right-1.action(ng-href='#/profile' ng-if='client')
                        img(src='images/login.svg')
                        | {{indexCtrl.client.name}}
                    button.m-right-1.action(ng-click='indexCtrl.logOut()' ng-if='client')
                        | {{ 'LOG_OUT' | translate }}
                    button.m-right-1.action(ng-if="lang == 'en'" ng-click='indexCtrl.changeLanguage("es")')
                        | {{ 'TRANSLATE_SPANISH' | translate }}
                    button.m-right-1.action(ng-if="lang == 'es'" ng-click='indexCtrl.changeLanguage("en")')
                        | {{ 'TRANSLATE_ENGLISH' | translate }}
        .row.row-top
            .column
                a
                    | ho
            .max-content-wrapper.mid.content(ng-view='')
    // build:js(.) scripts/oldieshim.js
    //if lt IE 9
        script(src='bower_components/es5-shim/es5-shim.js')
        script(src='bower_components/json3/lib/json3.js')
    // endbuild
    script(src='scripts/paths.js')
    script(src='bower_components/requirejs/require.js', data-main='scripts/build.js')
