@import 'variables/colors';

.big-book {
  background-color: $grey;
  width: 260px;
  height: 300px;
  position: relative;
  justify-content: center;
  margin-right: 40px;

  .preview-image {
    max-height: 100%;
    max-width: 100%;
  }
}

.new-comment-wrapper  {
  textarea {
    resize: none;
    height: 100px;
    width: 100%;
  }
}

.document-info {
  position: relative;
}

.document-actions {
  bottom: 0;
  width: 100%;
}
