@mixin button($primary-color, $secondary-color, $hover-background) {
  align-items: center;
  background: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 15px;
  color: $secondary-color;
  display: flex;
  font-weight: 800;
  height: 50px;
  justify-content: center;
  width: 100px;
  &:hover {
    background: $hover-background;
    color: $primary-color;
  }
}
