@mixin button($primary-color, $secondary-color, $hover-background) {
  align-items: center;
  background: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0;
  font-weight: 300;
  color: $secondary-color;
  display: flex;
  font-weight: 800;
  height: 40px;
  padding: 0 20px;
  justify-content: center;
  &:hover {
    background: $hover-background;
    color: $primary-color;
  }
}
