@import 'variables/colors';

.default-book {
  background-color: $grey;
  width: 80px;
  height: 100px;
  position: relative;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    transform: translate(-50%, -50%);
  }
}
