@import 'variables/colors';

.spinner {
  border-radius: 100%;
  height: 50px;
  margin: 0;
  width: 50px;
}

.model-2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
}

.model-2 .spinner {
  animation: rotate 1.3s linear 0s infinite, color-bubble 3s linear 0s infinite;
  border: 1px solid;
}

.model-2 .spinner:after {
  animation: color-change 3s linear 0s infinite;
  background: $white;
  border-radius: 100%;
  content: '';
  height: 15px;
  left: -5px;
  position: absolute;
  top: 18px;
  width: 15px;
}

.model-2.model-inline {
  height: auto;
  width: auto;
  display: inline-block;
  margin-left: 10px;
  position: static;

  .spinner {
    height: 20px;
    width: 20px;

    &:after {
      height: 8px;
      left: 0px;
      top: 12px;
      width: 8px;
    }
  }
}

@keyframes spinner-bubble {
  from {
    height: 10px;
    opacity: .8;
    width: 10px;
  }
  to {
    height: 50px;
    opacity: 0;
    width: 50px;
  }
}

@keyframes color-bubble {
  0% {
    color: $blue;
  }

  100% {
    color: $green;
  }
}

@keyframes color-change {
  0% {
    background: $blue;
  }

  100% {
    background: $green;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateRct {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes size {
  from {
    height: 70px;
    width: 70px;
  }
  to {
    height: 30px;
    width: 30px;
  }
}
