@import 'variables/colors';

.upload-file-form {
  width: 400px;
}

.form-section {
  margin: 10px;
  width: 100%;
}

.form-input {
  line-height: 20px;
  width: 100%;
}

.selected-course {
  font-weight: 800;
  margin-bottom: 15px;
}

.change-course {
  color: $blue;
  font-style: italic;
  text-decoration: underline;
}

.file-upload {
  align-items: center;
  display: flex;
  justify-content: space-around;
	position: relative;
  text-align: center;
}

.file-upload-label {
  cursor: pointer;
}

.file-upload-input {
  bottom: 0;
  font-size: 1;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
